[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
configparser = "*"
tweepy = "*"
pylint = "*"
google-cloud-bigquery-storage = "*"
pandas = "*"
google-cloud-bigquery = "*"
python-json-logger = "*"
retry = "*"
nltk = "*"
ipython = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
